html {
font-family: sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
font-size: 100%;
}

body {
margin: 0;
}

ul {
list-style-type: none;
padding:0;
margin:0;
}

#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
height:99%;
}

/* Begin page styles */
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-left: 15px;
}

.room-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.chat-container {
    position: relative;
    margin-top: 20px;
}

.chat-container li:nth-child(odd) {
    background-color: #ededed;
}

.message-container {
    padding: 10px;
}

#usermsg {
    position:fixed;
    bottom:0;
    border:1px solid #ACD8F0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:1058px;
}

#submitmsg{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height:37px;
}

/* End page styles */
/* Begin sidebar styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #e5e4e4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar styles */

h2 .btn-group {
    display: inline-block;
    vertical-align: top;
}

.sidebar-title {
    text-indent: 20px;
    height: 65px;
    font-weight: bold;
    font-size: 22px;
}

.sidebar-nav {
    position: relative;
    top: -40px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #4d4d4d;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/* Begin media */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}
/* End media */
