<div class="modal-wrapper">

    <div class="modal-header">
        <h4 class="modal-title">Create new room</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <input type="text"  class="form-control" placeholder="Chat Room Name..." ng-model="roomName">
        </div>
    </div>

    <div class="modal-footer">
        <span class="btn-group">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="create(roomName)">Create</button>
        </span>
    </div>

</div>
