<!-- Page content wrapper -->
<section id="page-content-wrapper">
    <div class="container-fluid">

        <div class="room-title">Room 1</div>

        <ul class="chat-container">
            <li class="message-container">
                <div class="user-name">John Doe</div>
                <div class="user-message">Hey how's it going?</div>
            </li>
            <li class="message-container">
                <div class="user-name">Betty Boop</div>
                <div class="user-message">Not bad. You?</div>
            </li>
            <li class="message-container">
                <div class="user-name">Me Three</div>
                <div class="user-message">Cool chat room.</div>
            </li>
        </ul>
    </div>
</section>
