<!-- Sidebar wrapper -->
<section id="sidebar-wrapper">

        <h2 class="sidebar-title">Bloc Chat
            <span class="btn-group">
                <button class="btn btn-mini">New Room</button>
            </span>
        </h2>
        <ul class="sidebar-nav">
            <li>
                <a ui-sref="#">Room 1</a>
            </li>
            <li>
                <a ui-sref="#">Room 2</a>
            </li>
            <li>
                <a ui-sref="#">Room 3</a>
            </li>
        </ul>

</section>
